@use '../variables';

.button {
    padding: 12px;
    font-weight: 18px;
    font-weight: bold;
    height: 30px;
    width: 110px;
    white-space: nowrap;
    border-radius: 5%;
    
    



    &--primary {
        color: #fff;
        background-color: rgb(250, 33, 33);

        &:hover {
            background-color: rgb(216, 61, 61);

        }
    }

    @media (max-width:640px) {
        
    }
    @media (max-width:1024px) {
        align-items: center;
        
    }
}


