@use '../variables';

.member {
    padding: 80px 0;

    &--zmadou {
        background-image: linear-gradient(#3959e9, #00177e);
    }
    &--lululee {
        background-image: linear-gradient(#00177e, #53006d);
    }
    &--lluizlee {
        background-image: linear-gradient(#3959e9, #00177e);
    }
    
    &--lockee {
        background-image: linear-gradient(#3959e9, #00177e);
    }
    &--fabiofala {
        background-image: linear-gradient(#3959e9, #00177e);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }
    
    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }
    
    &__info {
        color: #fff;
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            

        }

        &__description {
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__info {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}